/* 
    General Styles
*/


.home-card-list{

    display:flex;
    overflow-x: scroll;
}

.card-single{
    width: 400px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0px 10px;
    
}

.card-detail{
    width: 400px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0px 10px;
    
}

.card-description{
    padding: 10px 15px;
    width: 400px;
}

.line {
    border:2px solid red;
    padding: 0px;
    margin: 20px 0px 20px 0px;
}

.col-text, .head-text {
    color:red;
}

