/* 
    General Styles
*/


.home-card-list{
    border: 1px solid black;
    display:flex;
    overflow-y: scroll;
}

.card-prueba{
    width: 300px;
    border: 1px solid gray;
    margin: 0px 10px;
    
}

.card-description{
    padding: 10px 15px;
}